body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    color: blue;
    top: 0;
    position: fixed;
    width: 100%;
    
}

#titulo {
    color: white;
    letter-spacing: -1px;
    font-size: 35px;
    line-height: 120px;
    font-weight: 600;
    background-color: green;
}

#minha_foto {
    width: 100px;
}

#licoes_aprendidas {
    color: black;

}

#licoes_a_aprender {
    color: black;

}

#rodape {
    font-size: 13px;
    line-height: 100px;
}