body {
    background-color: rgb(253, 251, 251);
}

#cabeçalho {
    color: blue;
}

#título {

    color: white;
    letter-spacing: -1px;
    font-size: 35px;
    line-height: 150px;
    font-weight: 600;
    background-color: green;
}

#minha_foto {
    width: 100px;
}

#licoes_aprendidas {
    color: black;

}

#licoes_a_aprender {
    color: blue;

}

#rodape {
    font-size: 13px;
}